{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' output='css/*.css'
    'bundles/web/css/frontpage.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <section class="content">
        <section class="header">
            <hgroup>
                <h1>Creepy shop</h1>
                <h2>we sell unhealthy things</h2>
            </hgroup>
            <hr>
        </section>
    </section>
{% endblock %}