section.content  {
  width: 1024px;
  max-width: 1024px;
  min-width: 1024px;
  margin: auto;

/* some basic fixes */
  hr {
    margin: 0;
  }
/* end */

    section.header {

        h1 {
          text-transform: uppercase;
          font-size: 26px;
          a {
            color: rgb(51, 51, 51);
            &:hover {
              text-decoration: none;
            }
          }
        }

        h2 {
            float: right;
            font-size: 16px;
        }

        h1, h2 {
          display: inline-block;
        }

        .log-in-button {
          float: right;
          margin: 15px 10px 0 20px;
        }
    }

    section.body {
        padding: 20px;

        section.product_list {
            float: left;
            width: 836px;

            div.product {
                display: inline-block;
                padding: 7px 7px 0px 7px;
                border: 1px solid rgb(228, 228, 228);
                margin-right: 15px;
                margin-bottom: 15px;

                img {
                    margin-bottom: 10px;
                }
                .product_desc {
                    .product_price {
                        font-size: 25px;
                        color: green;
                        font-weight: bold;
                        margin: 0 9px;
                    }
                }
                a.btn {
                    margin-top: -8px;
                }
            }
        }

        aside.menu {
            height: 500px;
            float: left;
            width: 148px;
        }
    }
}