section.content {
  width: 1024px;
  max-width: 1024px;
  min-width: 1024px;
  margin: auto;
  /* some basic fixes */
  /* end */ }
  section.content hr {
    margin: 0; }
  section.content section.header h1 {
    text-transform: uppercase;
    font-size: 26px; }
    section.content section.header h1 a {
      color: #333333; }
      section.content section.header h1 a:hover {
        text-decoration: none; }
  section.content section.header h2 {
    float: right;
    font-size: 16px; }
  section.content section.header h1, section.content section.header h2 {
    display: inline-block; }
  section.content section.header .log-in-button {
    float: right;
    margin: 15px 10px 0 20px; }
  section.content section.body {
    padding: 20px; }
    section.content section.body section.product_list {
      float: left;
      width: 836px; }
      section.content section.body section.product_list div.product {
        display: inline-block;
        padding: 7px 7px 0px 7px;
        border: 1px solid #e4e4e4;
        margin-right: 15px;
        margin-bottom: 15px; }
        section.content section.body section.product_list div.product img {
          margin-bottom: 10px; }
        section.content section.body section.product_list div.product .product_desc .product_price {
          font-size: 25px;
          color: green;
          font-weight: bold;
          margin: 0 9px; }
        section.content section.body section.product_list div.product a.btn {
          margin-top: -8px; }
    section.content section.body aside.menu {
      height: 500px;
      float: left;
      width: 148px; }
